.pre-title {
    font-family: $font-two;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $primary-color;
}

.title {
    font-family: $font-two;
    color: rgb(81, 83, 87);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}