footer {
    padding-top: 24px;
    padding-bottom: 24px;
    .footer-col {
        margin-bottom: 24px;
        .footer-heading {
            font-size: 18px;
            font-weight: 600;
        }
        p {
            line-height: 140%;
        }
        .footer-link {
            text-decoration: none;
            color: #434343;
            display: block;
            padding: 4px;
            margin-bottom: 4px;
        }
    }
}