.sign-in-form {
    padding-top: 56px;
    padding-bottom: 56px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    .form-group,
    .form-row {
        margin-bottom: 16px;
    }
    .forgot-password {
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        color: #323232;
        &:hover {
            color: rgb(66, 126, 255);
        }
    }
}

.form-content {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    .form-title {
        font-size: 24px;
        margin-bottom: 16px;
    }
}