.nav-tabs {
    a {
        margin-left: 8px;
    }
    .find-job {
        color: white;
        background-color: orange;
    }
    .find-candidate {
        color: white;
        background-color: rgb(62, 62, 194);
    }
}